footer {
    background-color: #f8d477;
    height: auto;
}

footer img {
    width: 100%;
}

#footer_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8%;
}

#copyright {
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}